<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for CGT coding standards." Description="CGT coding standards rules." ToolsVersion="16.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="AvoidAsyncSuffix" Action="Error" />
    <Rule Id="AvoidAsyncVoid" Action="Error" />
    <Rule Id="UseAsyncSuffix" Action="Error" />
    <Rule Id="UseConfigureAwait" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1062" Action="Error" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1505" Action="Error" />
    <Rule Id="CA1506" Action="Error" />
    <Rule Id="CA1507" Action="Error" />
    <Rule Id="CA1508" Action="Error" />
    <Rule Id="CA1805" Action="Error" />
    <Rule Id="CA1806" Action="Warning" />
    <Rule Id="CA1810" Action="Error" />
    <Rule Id="CA1812" Action="Error" />
    <Rule Id="CA1813" Action="Error" />
    <Rule Id="CA1814" Action="Error" />
    <Rule Id="CA1815" Action="Error" />
    <Rule Id="CA1819" Action="Error" />
    <Rule Id="CA1820" Action="Error" />
    <Rule Id="CA1821" Action="Error" />
    <Rule Id="CA1822" Action="Error" />
    <Rule Id="CA1823" Action="Error" />
    <Rule Id="CA1829" Action="Error" />
    <Rule Id="CA1834" Action="Error" />
    <Rule Id="CA1835" Action="Error" />
    <Rule Id="CA1836" Action="Error" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2007" Action="Error" />
    <Rule Id="CA2100" Action="Error" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2232" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
    <Rule Id="CA3001" Action="Error" />
    <Rule Id="CA3002" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="Error" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CS0169" Action="Error" />
    <Rule Id="CS8632" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0028" Action="Error" />
    <Rule Id="IDE0031" Action="Error" />
    <Rule Id="IDE0044" Action="Error" />
    <Rule Id="IDE0051" Action="Error" />
    <Rule Id="IDE0055" Action="Error" />
    <Rule Id="IDE0059" Action="Error" />
    <Rule Id="IDE0060" Action="Error" />
    <Rule Id="IDE0065" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1500" Action="Error" />
    <Rule Id="SA1516" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1006" Action="Error" />
    <Rule Id="RCS1015" Action="Warning" />
    <Rule Id="RCS1021" Action="Error" />
    <Rule Id="RCS1031" Action="Error" />
    <Rule Id="RCS1032" Action="Error" />
    <Rule Id="RCS1033" Action="Error" />
    <Rule Id="RCS1036" Action="Error" />
    <Rule Id="RCS1037" Action="Error" />
    <Rule Id="RCS1047" Action="Error" />
    <Rule Id="RCS1061" Action="Error" />
    <Rule Id="RCS1075" Action="Error" />
    <Rule Id="RCS1080" Action="Error" />
    <Rule Id="RCS1085" Action="Warning" />
    <Rule Id="RCS1124" Action="None" />
    <Rule Id="RCS1138" Action="Error" />
    <Rule Id="RCS1146" Action="Error" />
    <Rule Id="RCS1202" Action="None" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CodeAnalysis.Analyzers" RuleNamespace="Roslynator.CodeAnalysis.Analyzers">
    <Rule Id="RCS9007" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0000" Action="Hidden" />
    <Rule Id="SA1000" Action="Error" />
    <Rule Id="SA1001" Action="Error" />
    <Rule Id="SA1002" Action="Error" />
    <Rule Id="SA1004" Action="Error" />
    <Rule Id="SA1005" Action="Error" />
    <Rule Id="SA1008" Action="Error" />
    <Rule Id="SA1009" Action="Error" />
    <Rule Id="SA1010" Action="Error" />
    <Rule Id="SA1011" Action="Error" />
    <Rule Id="SA1012" Action="Error" />
    <Rule Id="SA1013" Action="Error" />
    <Rule Id="SA1021" Action="Error" />
    <Rule Id="SA1022" Action="Error" />
    <Rule Id="SA1024" Action="Error" />
    <Rule Id="SA1025" Action="Error" />
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1100" Action="Error" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1103" Action="Error" />
    <Rule Id="SA1106" Action="Error" />
    <Rule Id="SA1111" Action="Error" />
    <Rule Id="SA1112" Action="Error" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="Error" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1119" Action="Error" />
    <Rule Id="SA1121" Action="Error" />
    <Rule Id="SA1122" Action="Error" />
    <Rule Id="SA1123" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1130" Action="Error" />
    <Rule Id="SA1131" Action="Error" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1135" Action="None" />
    <Rule Id="SA1136" Action="Error" />
    <Rule Id="SA1137" Action="Error" />
    <Rule Id="SA1200" Action="Error" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1207" Action="Error" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1209" Action="Error" />
    <Rule Id="SA1210" Action="Error" />
    <Rule Id="SA1214" Action="Error" />
    <Rule Id="SA1300" Action="Error" />
    <Rule Id="SA1302" Action="Error" />
    <Rule Id="SA1303" Action="Error" />
    <Rule Id="SA1304" Action="Error" />
    <Rule Id="SA1306" Action="Error" />
    <Rule Id="SA1307" Action="Error" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1311" Action="Error" />
    <Rule Id="SA1312" Action="Error" />
    <Rule Id="SA1400" Action="Error" />
    <Rule Id="SA1401" Action="Error" />
    <Rule Id="SA1402" Action="Error" />
    <Rule Id="SA1403" Action="Error" />
    <Rule Id="SA1404" Action="Error" />
    <Rule Id="SA1405" Action="Error" />
    <Rule Id="SA1406" Action="Error" />
    <Rule Id="SA1407" Action="Error" />
    <Rule Id="SA1408" Action="Error" />
    <Rule Id="SA1410" Action="Error" />
    <Rule Id="SA1411" Action="Error" />
    <Rule Id="SA1413" Action="Error" />
    <Rule Id="SA1501" Action="Error" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1504" Action="Error" />
    <Rule Id="SA1505" Action="Error" />
    <Rule Id="SA1507" Action="None" />
    <Rule Id="SA1508" Action="Error" />
    <Rule Id="SA1509" Action="Error" />
    <Rule Id="SA1511" Action="Error" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1514" Action="Error" />
    <Rule Id="SA1515" Action="Error" />
    <Rule Id="SA1516" Action="Error" />
    <Rule Id="SA1517" Action="Error" />
    <Rule Id="SA1518" Action="Error" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1603" Action="Error" />
    <Rule Id="SA1609" Action="Warning" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1636" Action="Error" />
    <Rule Id="SA1642" Action="Error" />
    <Rule Id="SA1643" Action="Error" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SX1309" Action="Error" />
  </Rules>
</RuleSet>