.side-floater {
    font-size: 1rem;
    border-radius: 0rem 0.7rem;
    width: 3.5em;
    height: 100vh;
    z-index: 100;
    background: #fff;
    .form-section-header {
        background: transparent;
        border-bottom: none;
    }
    margin-left: -1.5em;
    .form-section-body {
        font-size: 1.4em;
        font-weight: 600;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        width: 2em;
    }
}
