@import '~styles/variables';

.nav {
    &.blue {
        .ant-menu {
            background-image: $theme-blue-background-image;
        }
    }
    &.red {
        .ant-menu {
            background-image: $theme-red-background-image;
        }
    }
    &.green {
        .ant-menu {
            background-image: $theme-green-background-image;
        }
    }
    &.purple {
        .ant-menu {
            background-image: $theme-purple-background-image;
        }
    }
    &.yellow {
        .ant-menu {
            background-image: $theme-yellow-background-image;
        }
    }
    .ant-menu-submenu,
    .ant-menu {
        color: #fff !important;
        // background-image: url('top-nav-bg.png');
        .ant-menu-submenu-title,
        .ant-menu-item {
            a,
            &:hover {
                color: #fff !important;
                border-color: #fff !important;
            }
        }
    }
}

