@import '~styles/variables';

.table {
    font-size: 1rem;
    background: transparent;
    $rowPadding: 0.5em;

    .ant-table {
        .ant-table-body {
            overflow-y: auto !important;
        }
        .ant-table-thead {
            > tr {
                > th {
                    padding: $rowPadding;
                    background-color: $secondary-body-background-color;
                }
            }

            .ant-table-column-sorters {
                padding: 0;
            }
        }
        .ant-table-tbody {
            > tr {
                > td {
                    padding: $rowPadding;
                }
            }
        }
        .ant-table {
            tfoot {
                > tr {
                    > th {
                        padding: $rowPadding;
                    }
                    > td {
                        padding: $rowPadding;
                    }
                }
            }
        }
    }
}
